<ion-view view-title="Player">
<ion-nav-buttons side="right">
  <button class="button button-icon icon ion-more"></button>
</ion-nav-buttons>
	<ion-content>
		<div class="hplayer">
			<div class="plcover">
				<img src="img/st/st11.jpeg">
			</div>
			<div class="plmeta">
				<h4 class="plpodname">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
				<h5 class="plpodauthor">Fw:Thinking</h5>
				<div class="plprogress-wrap plprogress">
				<span class="pltime">
					<span class="pltime1">13:43</span>
					<span class="pltime2">50:19</span>
				</span>
			</div>
			<div class="plbuttons">
				<button class="plbut plbut_tools pl_tools_left">
					<i class="icon ion-ios-list-outline"></i>
				</button>
				<button class="plbut plbut_skip">
					<i class="icon ion-ios-skipbackward"></i>
				</button>
				<button class="plbut plbut_play">
					<i class="icon ion-play"></i>
				</button>
				<button class="plbut plbut_skip">
					<i class="icon ion-ios-skipforward"></i>
				</button>
				<button class="plbut plbut_tools pl_tools_right">
					<i class="icon ion-ios-gear-outline"></i>
				</button>
			</div>
		</div>

		
	</ion-content>
</ion-view>

