<ion-view view-title="Store">
  <ion-content>
    <div class="stfundo storepad">
	    <div class="store_label">
	    	<h3>Trending</h3>
	    	<button class="button button-small button-dark stmore icon icon-right ion-chevron-right">See more</button>
	    </div>
	    <div class="row raw">
	      <a href="#/app/subscriptions/01"class="col col-33">
	      	<img src="img/st/st1.jpeg">
	      	<div>Sacadas de Empreendedor</div>
	      </a>
	      <a href="#/app/subscriptions/12"class="col col-33">
	      	<img src="img/st/st12.jpeg">
	      	<div>Código Aberto</div>
	      </a>
	      <a href="#/app/subscriptions/09"class="col col-33">
	      	<img src="img/st/st9.jpeg">
	      	<div>MAROMBA CAST</div>
	      </a>
	    </div>
	    <div class="row raw">
	      <a href="#/app/subscriptions/07"class="col col-33">
	      	<img src="img/st/st7.jpeg">
	      	<div>Despachados</div>
	      </a>
	      <a href="#/app/subscriptions/08"class="col col-33">
	      	<img src="img/st/st8.jpeg">
	      	<div>ResumoCast - Livros para Empreendedores</div>
	      </a>
	      <a href="#/app/subscriptions/10"class="col col-33">
	      	<img src="img/st/st10.jpeg">
	      	<div>Podcast Tabelinha</div>
	      </a>
	    </div>

	    <div class="stbarra">&nbsp;</div>

	    <div class="store_label">
	    	<h3>Top Podcasts</h3>
	    	<button class="button button-small button-dark stmore icon icon-right ion-chevron-right">See more</button>
	    </div>
	    <div class="row raw">
	      <a href="#/app/subscriptions/11"class="col col-33">
	      	<img src="img/st/st11.jpeg">
	      	<div>Sacadas de Empreendedor</div>
	      </a>
	      <a href="#/app/subscriptions/06"class="col col-33">
	      	<img src="img/st/st6.jpeg">
	      	<div>Código Aberto</div>
	      </a>
	      <a href="#/app/subscriptions/13"class="col col-33">
	      	<img src="img/st/st13.jpeg">
	      	<div>MAROMBA CAST</div>
	      </a>
	    </div>
	    <div class="row raw">
	      <a href="#/app/subscriptions/02"class="col col-33">
	      	<img src="img/st/st2.jpeg">
	      	<div>Despachados</div>
	      </a>
	      <a href="#/app/subscriptions/09"class="col col-33">
	      	<img src="img/st/st9.jpeg">
	      	<div>ResumoCast - Livros para Empreendedores</div>
	      </a>
	      <a href="#/app/subscriptions/04"class="col col-33">
	      	<img src="img/st/st4.jpeg">
	      	<div>Podcast Tabelinha</div>
	      </a>
	    </div>
	  </div>

	  <div class="stbarra">&nbsp;</div>

	  <div class="stfundo storepad">
	    <div class="store_label">
	    	<h3>Fresh & New</h3>
	    	<button class="button button-small button-dark stmore icon icon-right ion-chevron-right">See more</button>
	    </div>
	    <div class="row raw">
	      <a href="#/app/subscriptions/03"class="col col-33">
	      	<img src="img/st/st3.jpeg">
	      	<div>Sacadas de Empreendedor</div>
	      </a>
	      <a href="#/app/subscriptions/06"class="col col-33">
	      	<img src="img/st/st6.jpeg">
	      	<div>Código Aberto</div>
	      </a>
	      <a href="#/app/subscriptions/05"class="col col-33">
	      	<img src="img/st/st5.jpeg">
	      	<div>MAROMBA CAST</div>
	      </a>
	    </div>
	    <div class="row raw">
	      <a href="#/app/subscriptions/12"class="col col-33">
	      	<img src="img/st/st12.jpeg">
	      	<div>Despachados</div>
	      </a>
	      <a href="#/app/subscriptions/11"class="col col-33">
	      	<img src="img/st/st11.jpeg">
	      	<div>ResumoCast - Livros para Empreendedores</div>
	      </a>
	      <a href="#/app/subscriptions/07"class="col col-33">
	      	<img src="img/st/st7.jpeg">
	      	<div>Podcast Tabelinha</div>
	      </a>
	    </div>

	    <div class="stbarra">&nbsp;</div>

	    <div class="store_label">
	    	<h3>Music</h3>
	    	<button class="button button-small button-dark stmore icon icon-right ion-chevron-right">See more</button>
	    </div>
	    <div class="row raw">
	      <a href="#/app/subscriptions/01"class="col col-33">
	      	<img src="img/st/st1.jpeg">
	      	<div>Sacadas de Empreendedor</div>
	      </a>
	      <a href="#/app/subscriptions/02"class="col col-33">
	      	<img src="img/st/st2.jpeg">
	      	<div>Código Aberto</div>
	      </a>
	      <a href="#/app/subscriptions/03"class="col col-33">
	      	<img src="img/st/st3.jpeg">
	      	<div>MAROMBA CAST</div>
	      </a>
	    </div>
	    <div class="row raw">
	      <a href="#/app/subscriptions/04"class="col col-33">
	      	<img src="img/st/st4.jpeg">
	      	<div>Despachados</div>
	      </a>
	      <a href="#/app/subscriptions/05"class="col col-33">
	      	<img src="img/st/st5.jpeg">
	      	<div>ResumoCast - Livros para Empreendedores</div>
	      </a>
	      <a href="#/app/subscriptions/06"class="col col-33">
	      	<img src="img/st/st6.jpeg">
	      	<div>Podcast Tabelinha</div>
	      </a>
	    </div>
	  </div>

	  <div class="stbarra">&nbsp;</div>

	  <div class="stfundo storepad">
	    <div class="store_label">
	    	<h3>Sports</h3>
	    	<button class="button button-small button-dark stmore icon icon-right ion-chevron-right">See more</button>
	    </div>
	    <div class="row raw">
	      <a href="#/app/subscriptions/01"class="col col-33">
	      	<img src="img/st/st1.jpeg">
	      	<div>Sacadas de Empreendedor</div>
	      </a>
	      <a href="#/app/subscriptions/02"class="col col-33">
	      	<img src="img/st/st2.jpeg">
	      	<div>Código Aberto</div>
	      </a>
	      <a href="#/app/subscriptions/03"class="col col-33">
	      	<img src="img/st/st3.jpeg">
	      	<div>MAROMBA CAST</div>
	      </a>
	    </div>
	    <div class="row raw">
	      <a href="#/app/subscriptions/04"class="col col-33">
	      	<img src="img/st/st4.jpeg">
	      	<div>Despachados</div>
	      </a>
	      <a href="#/app/subscriptions/05"class="col col-33">
	      	<img src="img/st/st5.jpeg">
	      	<div>ResumoCast - Livros para Empreendedores</div>
	      </a>
	      <a href="#/app/subscriptions/06"class="col col-33">
	      	<img src="img/st/st6.jpeg">
	      	<div>Podcast Tabelinha</div>
	      </a>
	    </div>

	    <div class="stbarra">&nbsp;</div>

	    <div class="store_label">
	    	<h3>Tech</h3>
	    	<button class="button button-small button-dark stmore icon icon-right ion-chevron-right">See more</button>
	    </div>
	    <div class="row raw">
	      <a href="#/app/subscriptions/01"class="col col-33">
	      	<img src="img/st/st1.jpeg">
	      	<div>Sacadas de Empreendedor</div>
	      </a>
	      <a href="#/app/subscriptions/02"class="col col-33">
	      	<img src="img/st/st2.jpeg">
	      	<div>Código Aberto</div>
	      </a>
	      <a href="#/app/subscriptions/03"class="col col-33">
	      	<img src="img/st/st3.jpeg">
	      	<div>MAROMBA CAST</div>
	      </a>
	    </div>
	    <div class="row raw">
	      <a href="#/app/subscriptions/04"class="col col-33">
	      	<img src="img/st/st4.jpeg">
	      	<div>Despachados</div>
	      </a>
	      <a href="#/app/subscriptions/05"class="col col-33">
	      	<img src="img/st/st5.jpeg">
	      	<div>ResumoCast - Livros para Empreendedores</div>
	      </a>
	      <a href="#/app/subscriptions/06"class="col col-33">
	      	<img src="img/st/st6.jpeg">
	      	<div>Podcast Tabelinha</div>
	      </a>
	    </div>
	  </div>
  </ion-content>
</ion-view>

<!-- 
seer more >> list by topic + suggestions -->